{% extends "themes/base_admin.html.twig" %}

{% block title %}Nouveau tag{% endblock %}

{% block description %}Nouveau tag{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouveau tag</h1>
{% endblock %}