{% extends "themes/base_visitor.html.twig" %}

{% block title %} - Blog - Liste des articles{% endblock %}

{% block description %}Blog - Liste des articles{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Blog</h1>
{% endblock %}